<div class="text-center">
<h1>WebMD</h1>
<img src="http://www.doggiesonboard.com/wp-content/uploads/2012/04/Doctor-Doggie.jpg">
<h2>You look sick as a dog!</h2>
<p>Pull up a seat my friend and let our highly trained dogtors see if they can figure out what's going on.</p>
</div>
