<h1><%=diseases.name%> - <%=disease.severity%> out of 10!</h1>
<h2>
<%=diseases.description%>
<p>You're symptoms are telling this dogtor that you probably have these things.</p>
<ul class="list-group">
<% diseases.symptoms.forEach(function(s){%>
<li class="list-group-item-danger"></li>
<%});%>
</ul>

